body {
	padding: 0px;
	font-family: arial;
	color: white;
	background-color: black;
}

#game-window {
	border: 2px solid red;
}
#game-graph {
	border: 2px solid blue;
}
#game-context {
	border: 2px solid green;
}
#game-market {
	border: 2px solid yellow;
}
#game-portfolio {
	border: 2px solid orange;
}
#game-status-log {
	border: 2px solid purple;
}
